Repository kevinrzepka/dcs-pylot-dash: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier

black:
  name: Black
  description: Format python files
  language: python
  entry: .venv/bin/python -m black

prettier:
  name: Prettier
  description: Format UI files
  language: node
  entry: ./dcs-pylot-dash-ui/node_modules/.bin/prettier ./dcs-pylot-dash-ui --write

add robots.txt, SECURITY.md, security.txt
  SECURITY.md
  resources/static/robots.txt
  resources/static/security.txt
  src/dcs_pylot_dash/api/api_routes.py
  src/dcs_pylot_dash/app.py
  src/dcs_pylot_dash/utils/resource_provider.py
Due: black

Add unit: feet per minute; default for vertical speed; swich mag. heading and heading in default model
  resources/sample_export_models/sample_api_export_model.json
  src/dcs_pylot_dash/service/units.py
  tests/output/DCSPylotDash.lua
  tests/output/PyDcsExport.lua
  tests/test_unit_converter.py
Due: black

add lua gps converters; fix html generator: no change on each pytest run
  resources/templates/gps_converters.lua
  src/dcs_pylot_dash/service/html_ui_generator.py
  src/dcs_pylot_dash/service/units.py
  tests/output/main.html
Due: black

add gps coordinate formatters
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/menu-sidebar/menu-sidebar.ts
  misc/gps_converters.lua
  resources/external_models/external_model_default.json
  resources/sample_export_models/sample_api_export_model.json
  resources/templates/main.lua.template
  src/dcs_pylot_dash/service/export_model.py
  src/dcs_pylot_dash/service/generator_service.py
  src/dcs_pylot_dash/service/html_ui_generator.py
  src/dcs_pylot_dash/service/lua_generator.py
  src/dcs_pylot_dash/service/source_model_service.py
  src/dcs_pylot_dash/service/units.py
  tests/output/DCSPylotDash.lua
Due: black, prettier

revert abs_base_value to multiplication
  src/dcs_pylot_dash/service/lua_generator.py
Due: black

Upgrade python dependencies
  README.md
  pyproject.toml
  src/dcs_pylot_dash/app.py
  tests/output/DCSPylotDash.lua
  tests/test_app.py
  tests/test_model_external.py
  tests/test_model_internal.py
  uv.lock
Due: black

Upgrade node dependencies, SBOMs
  README.md
  dcs-pylot-dash-ui/angular.json
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/pnpm-lock.yaml
  generate-sboms.sh
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-ui.json
  sboms/sbom.json
Due: prettier

Control disablement of source data point choosers via methods, not attribute
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.html
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.ts
Due: prettier

Add basic error messages on UI, more github links
  README.md
  dcs-pylot-dash-ui/src/app/api-source-model-service.ts
  dcs-pylot-dash-ui/src/app/backend-status-messages/backend-status-messages.css
  dcs-pylot-dash-ui/src/app/backend-status-messages/backend-status-messages.html
  dcs-pylot-dash-ui/src/app/backend-status-messages/backend-status-messages.ts
  dcs-pylot-dash-ui/src/app/constants.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/entry-consent/entry-consent.html
  dcs-pylot-dash-ui/src/app/faq/faq.ts
  dcs-pylot-dash-ui/src/app/menu-sidebar/menu-sidebar.ts
  dcs-pylot-dash-ui/src/app/status-message-service.ts
Due: prettier

update 3rd party licenses
  .github-license-api-cache.json
  third_party_licenses.txt
Due: none

add helm chart; microk8s not working
  README.md
  build-image.sh
  build-ui.sh
  build.sh
  deployment/dcs-pylot-dash/.helmignore
  deployment/dcs-pylot-dash/Chart.yaml
  deployment/dcs-pylot-dash/templates/NOTES.txt
  deployment/dcs-pylot-dash/templates/deployment.yaml
  deployment/dcs-pylot-dash/templates/ingress.yaml
  deployment/dcs-pylot-dash/templates/service.yaml
  deployment/dcs-pylot-dash/templates/serviceaccount.yaml
  deployment/dcs-pylot-dash/values.yaml
Due: none

add k3s instructions for alternative traefik http/https port
  README.md
  build.sh
  deployment/dcs-pylot-dash/templates/NOTES.txt
  deployment/dcs-pylot-dash/templates/ingress.yaml
  deployment/dcs-pylot-dash/templates/service.yaml
  deployment/dcs-pylot-dash/templates/serviceaccount.yaml
  deployment/dcs-pylot-dash/values.yaml
Due: none

Adjust traefik instructions to bind to localhost only
  README.md
Due: none

Extend k3s docs, swap ingress for nodeport
  README.md
  dcs-pylot-dash-ui/src/app/faq/faq.ts
  deployment/dcs-pylot-dash/Chart.yaml
  deployment/dcs-pylot-dash/templates/ingress.yaml
  deployment/dcs-pylot-dash/templates/service.yaml
  deployment/dcs-pylot-dash/values.yaml
Due: prettier

Fetch license texts from .pnpm node_modules; ship distributed license attribution separately
  .envs/dev-ui.env
  .envs/dev.env
  Dockerfile
  README.md
  generate-attribution-for-sbom.sh
  generate-attribution.sh
  generate-attributions.sh
  generate-sboms.sh
  pyproject.toml
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-distributed.json
  sboms/sbom-ui-prod.json
  sboms/sbom-ui.json
  sboms/sbom.json
  src/dcs_pylot_dash/service/notice_service.py
  src/dcs_pylot_dash/service/notice_service.py~
  third_party_licenses.txt
  third_party_licenses_distributed.txt
  tools/sbom_to_oss_attrib/attribution_generator.py
  tools/sbom_to_oss_attrib/cyclonedx_sbom.py
  tools/sbom_to_oss_attrib/main.py
  tools/sbom_to_oss_attrib/test_sbom_to_oss_attrib.py
  uv.lock
Due: black

Add CSP value for generated angular inline script: onload="this.media='all'"
  .gitignore
  README.md
  dcs-pylot-dash-ui/angular.json
Due: prettier

Fix feet per minute conversion factor; fix typos in README
  README.md
  src/dcs_pylot_dash/service/units.py
  tests/output/DCSPylotDash.lua
  tests/test_unit_converter.py
Due: black

Add version sync script; add log formatter with microseconds
  Dockerfile
  README.md
  build-image.sh
  build.sh
  dcs-pylot-dash-ui/package.json
  deployment/dcs-pylot-dash/Chart.yaml
  pyproject.toml
  src/dcs_pylot_dash/log_formatter.py
  src/dcs_pylot_dash/logging.yaml
  src/dcs_pylot_dash/main.py
  sync-versions.sh
  uv.lock
Due: black, prettier

remove unnecessary top margins; add more, closable UI error messages; extend generated readme.txt
  README.md
  dcs-pylot-dash-ui/src/app/backend-status-messages/backend-status-messages.html
  dcs-pylot-dash-ui/src/app/backend-status-messages/backend-status-messages.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/generator-service.ts
  dcs-pylot-dash-ui/src/app/status-message-service.ts
  resources/templates/readme.template.txt
  src/dcs_pylot_dash/service/lua_generator.py
  tests/output/DCSPylotDash.lua
Due: black, prettier

add test instructions to README.md
  README.md
Due: none

mention player export in FAQ; add comments to export.lua template
  dcs-pylot-dash-ui/src/app/faq/faq.ts
  resources/templates/export.lua.template
Due: prettier

Color scale: Add basic UI functionality without API connection
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.css
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.html
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.ts
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.css
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.html
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.ts
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.html
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
Due: prettier

Color scale: Add API integration, hex input field
  CHANGELOG.md
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.ts
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.css
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.html
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.ts
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/generator-service.ts
  resources/templates/template.main.html
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/service/export_model.py
  src/dcs_pylot_dash/service/generator_service.py
  src/dcs_pylot_dash/service/html_ui_generator.py
  tests/output/Export.lua
  tests/output/main.html
  tests/test_api_model.py
Due: black, prettier

Color scale: Access neighbors for validation via Input and ngOnChanges; sample model with color scale
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.html
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.ts
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.css
  dcs-pylot-dash-ui/src/app/color-scale-entry/color-scale-entry.ts
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/generator-service.ts
  resources/sample_export_models/sample_api_export_model.json
Due: prettier

Editor model stored in service; copy color scale from other data points
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.css
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.html
  dcs-pylot-dash-ui/src/app/color-scale-editor/color-scale-editor.ts
  dcs-pylot-dash-ui/src/app/editor-model-service.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  resources/sample_export_models/sample_api_export_model.json
Due: prettier

Append color scale editor popover to local div, so it is properly removed when clearing the model
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.html
Due: prettier

Upgrade dependencies; increment version to 1.1.0
  Dockerfile
  README.md
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/pnpm-lock.yaml
  deployment/dcs-pylot-dash/Chart.yaml
  pyproject.toml
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-distributed.json
  sboms/sbom-ui-prod.json
  sboms/sbom-ui.json
  sboms/sbom.json
  tests/output/main.html
  third_party_licenses.txt
  third_party_licenses_distributed.txt
  uv.lock
Due: prettier

preserve existing Lua export functions; fix GPS coordinate conversion for S/W
  CHANGELOG.md
  misc/gps_converters.lua
  resources/templates/main.lua.template
  src/dcs_pylot_dash/service/lua_generator.py
  src/dcs_pylot_dash/service/units.py
  tests/data/export_model_3.json
  tests/output/DCSPylotDash.lua
  tests/output/main.html
Due: black

version 1.1.1
  README.md
  dcs-pylot-dash-ui/package.json
  deployment/dcs-pylot-dash/Chart.yaml
  pyproject.toml
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-distributed.json
  sboms/sbom-ui-prod.json
  sboms/sbom-ui.json
  sboms/sbom.json
  uv.lock
Due: prettier

v1.1.2: Upgrade dependencies
  Dockerfile
  README.md
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/pnpm-lock.yaml
  dcs-pylot-dash-ui/pnpm-workspace.yaml
  deployment/dcs-pylot-dash/Chart.yaml
  deployment/dcs-pylot-dash/templates/deployment.yaml
  pyproject.toml
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-distributed.json
  sboms/sbom-ui-prod.json
  sboms/sbom-ui.json
  sboms/sbom.json
  third_party_licenses.txt
  third_party_licenses_distributed.txt
  uv.lock
Due: prettier

Path conditions:
  black: any of: \.py$
  prettier: any of: ^dcs-pylot-dash-ui/
