Repository kevinrzepka/dcs-pylot-dash: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, prettier

.pre-commit-config.yaml:

#file: noinspection YAMLSchemaValidation
# see: https://pre-commit.com/#pre-commit-configyaml---hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: copyright-headers
        types: [ file ]
        name: Update Copyright Headers
        description: This hook ensures copyright headers are present in all source files.
        language: python
        verbose: false
        require_serial: true # IO-bound
        entry: python tools/copyright_header/main.py --update-existing --no-dry-run --num-lines-to-scan 10
      - id: black
        # python target version should be determined from pyproject.toml:
        # https://black.readthedocs.io/en/stable/usage_and_configuration/the_basics.html#t-target-version
        types: [ file, python ]
        name: Black
        description: Format python files
        language: python
        entry: .venv/bin/python -m black
      - id: prettier
        types: [ file ]
        files: ^dcs-pylot-dash-ui/
        name: Prettier
        description: Format UI files
        language: node
        entry: ./dcs-pylot-dash-ui/node_modules/.bin/prettier ./dcs-pylot-dash-ui --write

add tooltips for delete buttons and data point choosers
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.html
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.html
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.ts
Due: prettier

add angular dev proxy, API source model
  README.md
  dcs-pylot-dash-ui/angular.json
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/api-routes.ts
  dcs-pylot-dash-ui/src/app/api-source-model-service.ts
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.ts
  dcs-pylot-dash-ui/src/app/source-data-point-service.ts
  dcs-pylot-dash-ui/src/proxy.conf.json
Due: prettier

add source model api endpoint, logging
  README.md
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/source-data-point-service.ts
  pyproject.toml
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/app.py
  src/dcs_pylot_dash/logging.yaml
  src/dcs_pylot_dash/main.py
  src/dcs_pylot_dash/service/__init__.py
  uv.lock
Due: black, prettier

Add generator code
  src/dcs_pylot_dash/service/dcs_common_data_types.py
  src/dcs_pylot_dash/service/dcs_model_external.py
  src/dcs_pylot_dash/service/dcs_model_internal.py
  src/dcs_pylot_dash/service/export_model.py
  src/dcs_pylot_dash/service/html_ui_generator.py
  src/dcs_pylot_dash/service/lua_generator.py
  src/dcs_pylot_dash/service/string_utils.py
  src/dcs_pylot_dash/service/units.py
Due: black

run pre-commit for all files to update copyright headers
  dcs-pylot-dash-ui/src/app/app.routes.ts
  src/dcs_pylot_dash/__init__.py
  src/dcs_pylot_dash/api/__init__.py
  src/dcs_pylot_dash/api/foo.py
  tests/test_app.py
  tools/copyright_header/__init__.py
  tools/copyright_header/main.py
  tools/copyright_header/tests/resources/cases/py_regular/expected.py
  tools/copyright_header/tests/resources/cases/py_regular/input.py
  tools/copyright_header/tests/resources/cases/py_update/expected.py
  tools/copyright_header/tests/resources/cases/py_update/input.py
  tools/copyright_header/tests/test_copyright_header.py
  tools/sbom_to_oss_attrib/__init__.py
  tools/sbom_to_oss_attrib/attribution_generator.py
  tools/sbom_to_oss_attrib/attribution_output.py
  tools/sbom_to_oss_attrib/cyclonedx_sbom.py
  tools/sbom_to_oss_attrib/github_api.py
  tools/sbom_to_oss_attrib/main.py
  tools/sbom_to_oss_attrib/test_sbom_to_oss_attrib.py
  tools/sbom_to_oss_attrib/utils.py
Due: black, prettier

add tests for generated code, replace paths with ResourceProvider
  README.md
  resources/external_models/external_model_default.json
  resources/sample_export_models/sample_export_model.json
  resources/templates/export.lua.template
  resources/templates/main.lua.template
  resources/templates/template.main.html
  src/dcs_pylot_dash/service/html_ui_generator.py
  src/dcs_pylot_dash/service/lua_generator.py
  src/dcs_pylot_dash/service/resource_provider.py
  tests/__pycache__/test_app.cpython-314-pytest-9.0.1.pyc
  tests/data/export_model_3.json
  tests/data/external_model_1.json
  tests/output/Export.lua
  tests/output/PyDcsExport.lua
  tests/output/main.html
  tests/test_html_generator.py
  tests/test_lua_generator.py
  tests/test_model_external.py
  tests/test_model_internal.py
  tests/test_string_utils.py
  tests/test_unit_converter.py
Due: black

working api model to ui, display names for fields, only leaves
  README.md
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.html
  dcs-pylot-dash-ui/src/app/source-data-point-service.ts
  resources/external_models/external_model_default.json
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/service/dcs_model_internal.py
  src/dcs_pylot_dash/service/export_model.py
  src/dcs_pylot_dash/service/html_ui_generator.py
  src/dcs_pylot_dash/service/lua_generator.py
  src/dcs_pylot_dash/service/source_model_service.py
  src/dcs_pylot_dash/service/units.py
  src/dcs_pylot_dash/utils/__init__.py
  src/dcs_pylot_dash/utils/resource_provider.py
  src/dcs_pylot_dash/utils/string_utils.py
  tests/test_html_generator.py
  tests/test_lua_generator.py
  tests/test_string_utils.py
Due: black, prettier

add notices service, app settings with .env file
  .envs/dev.env
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/pnpm-lock.yaml
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/api-routes.ts
  dcs-pylot-dash-ui/src/app/notices-service.ts
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/app.py
  src/dcs_pylot_dash/app_settings.py
  src/dcs_pylot_dash/service/notice_service.py
  src/dcs_pylot_dash/utils/resource_provider.py
  terms_of_service.md
Due: black, prettier

add angular router, notices pages
  dcs-pylot-dash-ui/src/app/app.css
  dcs-pylot-dash-ui/src/app/app.routes.ts
  dcs-pylot-dash-ui/src/app/app.ts
  dcs-pylot-dash-ui/src/app/license-page/license-page.css
  dcs-pylot-dash-ui/src/app/license-page/license-page.html
  dcs-pylot-dash-ui/src/app/license-page/license-page.ts
  dcs-pylot-dash-ui/src/app/main-page/main-page.css
  dcs-pylot-dash-ui/src/app/main-page/main-page.html
  dcs-pylot-dash-ui/src/app/main-page/main-page.ts
  dcs-pylot-dash-ui/src/app/notices-service.ts
  dcs-pylot-dash-ui/src/app/privacy-policy-page/privacy-policy-page.css
  dcs-pylot-dash-ui/src/app/privacy-policy-page/privacy-policy-page.html
  dcs-pylot-dash-ui/src/app/privacy-policy-page/privacy-policy-page.ts
  dcs-pylot-dash-ui/src/app/terms-page/terms-page.css
  dcs-pylot-dash-ui/src/app/terms-page/terms-page.html
  dcs-pylot-dash-ui/src/app/terms-page/terms-page.ts
  dcs-pylot-dash-ui/src/styles.css
  privacy_policy.md
  terms_of_service.md
Due: prettier

add 3rd party licenses page, clean up header
  README.md
  dcs-pylot-dash-ui/src/app/app.routes.ts
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.html
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.ts
  dcs-pylot-dash-ui/src/app/header-toolbar/header-toolbar.html
  dcs-pylot-dash-ui/src/app/third-party-licenses-page/third-party-licenses-page.css
  dcs-pylot-dash-ui/src/app/third-party-licenses-page/third-party-licenses-page.html
  dcs-pylot-dash-ui/src/app/third-party-licenses-page/third-party-licenses-page.ts
  src/dcs_pylot_dash/app.py
Due: black, prettier

save user consent to local storage
  README.md
  dcs-pylot-dash-ui/src/app/app.html
  dcs-pylot-dash-ui/src/app/app.ts
  dcs-pylot-dash-ui/src/app/entry-consent/entry-consent.html
  dcs-pylot-dash-ui/src/app/entry-consent/entry-consent.ts
  dcs-pylot-dash-ui/src/app/local-storage-service.ts
  dcs-pylot-dash-ui/src/app/main-page/main-page.html
  dcs-pylot-dash-ui/src/app/main-page/main-page.ts
  dcs-pylot-dash-ui/src/app/user-data-service.ts
  pyproject.toml
Due: prettier

enhance sbom generation for ui packages, but missing license information
  .github-license-api-cache.json
  README.md
  generate-sboms.sh
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-ui.json
  sboms/sbom.json
  third_party_licenses.txt
  tools/sbom_to_oss_attrib/attribution_generator.py
  tools/sbom_to_oss_attrib/attribution_output.py
  tools/sbom_to_oss_attrib/cyclonedx_sbom.py
  tools/sbom_to_oss_attrib/main.py
Due: black

sbom for ui with cdxgen; attribution: also cache 404 github responses, include authors
  .github-license-api-cache.json
  README.md
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/pnpm-lock.yaml
  generate-sboms.sh
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-ui.json
  sboms/sbom.json
  third_party_licenses.txt
  tools/sbom_to_oss_attrib/attribution_generator.py
  tools/sbom_to_oss_attrib/attribution_output.py
  tools/sbom_to_oss_attrib/cyclonedx_sbom.py
  tools/sbom_to_oss_attrib/github_api.py
Due: black, prettier

remove unnecessary node packages
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/pnpm-lock.yaml
Due: prettier

add unit chooser
  README.md
  dcs-pylot-dash-ui/src/app/app.config.ts
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.html
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/unit-chooser/unit-chooser.css
  dcs-pylot-dash-ui/src/app/unit-chooser/unit-chooser.html
  dcs-pylot-dash-ui/src/app/unit-chooser/unit-chooser.ts
Due: prettier

add and remove some tooltips, add footer copyright
  README.md
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.css
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.html
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.ts
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.html
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.ts
  dcs-pylot-dash-ui/src/app/unit-chooser/unit-chooser.html
Due: prettier

add app metadata in footer
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/api-routes.ts
  dcs-pylot-dash-ui/src/app/app-metadata-service.ts
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.css
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.html
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.ts
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/service/app_metadata_service.py
Due: black, prettier

set preferred output units
  README.md
  resources/external_models/external_model_default.json
  src/dcs_pylot_dash/service/dcs_model_external.py
  src/dcs_pylot_dash/service/dcs_model_internal.py
  src/dcs_pylot_dash/service/source_model_service.py
Due: black

add generator workflow
  README.md
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/api-routes.ts
  dcs-pylot-dash-ui/src/app/app.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/generator-service.ts
  dcs-pylot-dash-ui/src/app/header-toolbar/header-toolbar.ts
  resources/external_models/external_model_default.json
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/exceptions.py
  src/dcs_pylot_dash/service/api_model_export_service.py
  src/dcs_pylot_dash/service/dcs_model_external.py
  src/dcs_pylot_dash/service/dcs_model_internal.py
  src/dcs_pylot_dash/service/source_model_service.py
Due: black, prettier

revoke download url when model is changed
  README.md
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.html
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
Due: prettier

add copyright notice to lua, html
  README.md
  resources/templates/export.lua.template
  resources/templates/main.lua.template
  resources/templates/template.main.html
  src/dcs_pylot_dash/service/lua_generator.py
  tests/__pycache__/test_app.cpython-314-pytest-9.0.1.pyc
  tests/data/test.env
  tests/output/Export.lua
  tests/output/PyDcsExport.lua
  tests/output/main.html
  tests/test_app.py
  tests/test_html_generator.py
  tests/test_lua_generator.py
Due: black

add static files to API; not working for ui router paths yet
  .envs/dev-ui.env
  .gitignore
  README.md
  src/dcs_pylot_dash/api/api_routes.py
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/app.py
  src/dcs_pylot_dash/app_settings.py
  src/dcs_pylot_dash/service/api_model_export_service.py
  src/dcs_pylot_dash/utils/resource_provider.py
Due: black

ui static handling working correctly, add input validation, exception handlers
  README.md
  dcs-pylot-dash-ui/src/app/app.routes.ts
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/app.py
  src/dcs_pylot_dash/app_exception_handlers.py
  src/dcs_pylot_dash/exceptions.py
  src/dcs_pylot_dash/logging.yaml
  src/dcs_pylot_dash/service/api_model_export_service.py
  src/dcs_pylot_dash/service/export_model.py
Due: black, prettier

build image: with ui, baked build data; regex for data point names; more robust resource paths
  .envs/prod-container.env
  .gitignore
  Dockerfile
  README.md
  build-image.sh
  build-ui.sh
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.html
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/app.py
  src/dcs_pylot_dash/app_settings.py
  src/dcs_pylot_dash/main.py
  src/dcs_pylot_dash/service/app_metadata_service.py
  src/dcs_pylot_dash/service/export_model.py
  src/dcs_pylot_dash/utils/resource_provider.py
  tests/__pycache__/test_app.cpython-314-pytest-9.0.1.pyc
  tests/data/test.env
  tests/output/DCSPylotDash.lua
  tests/output/Export.lua
  tests/test_app.py
Due: black, prettier

cleanup
  tests/__pycache__/test_app.cpython-314-pytest-9.0.1.pyc
Due: none

angular: route redirect when wildcard path used
  README.md
  dcs-pylot-dash-ui/src/app/app.routes.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.html
  dcs-pylot-dash-ui/src/app/source-data-point-chooser/source-data-point-chooser.ts
  src/dcs_pylot_dash/service/app_metadata_service.py
Due: black, prettier

center footer
  README.md
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.css
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.html
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.ts
Due: prettier

inlcude copyright in generated bundle, html; add popover for download link
  README.md
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.html
  resources/templates/template.main.html
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/app_settings.py
  src/dcs_pylot_dash/service/generator_service.py
  src/dcs_pylot_dash/service/html_ui_generator.py
  src/dcs_pylot_dash/service/lua_generator.py
Due: black, prettier

Add readme.txt to download bundle
  README.md
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.ts
  resources/templates/readme.template.txt
  src/dcs_pylot_dash/service/generator_service.py
  tests/output/Export.lua
  tests/output/main.html
  tests/test_html_generator.py
Due: black, prettier

Update copyright year to 2026
  dcs-pylot-dash-ui/src/app/footer-toolbar/footer-toolbar.ts
  tools/copyright_header/extensions/css
  tools/copyright_header/extensions/html
  tools/copyright_header/extensions/py
  tools/copyright_header/extensions/ts
Due: prettier

Add more fields; n-way unit conversion
  dcs-pylot-dash-ui/src/app/data-point-editor/data-point-editor.ts
  misc/global_symbols.txt
  misc/sample_export_model_old_with_colorscale.json
  resources/external_models/external_model_default.json
  resources/sample_export_models/sample_api_export_model.json
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/service/source_model_service.py
  src/dcs_pylot_dash/service/units.py
  tests/output/DCSPylotDash.lua
  tests/test_unit_converter.py
Due: black, prettier

Fix ordering of fields in generated HTML; fix Longitude field name
  README.md
  resources/external_models/external_model_default.json
  resources/templates/template.main.html
  src/dcs_pylot_dash/service/dcs_model_internal.py
  tests/output/main.html
Due: black

add sample model; add tutorial popovers; fix missing CORS headers in lua
  README.md
  dcs-pylot-dash-ui/src/app/api-routes.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/entry-consent/entry-consent.ts
  dcs-pylot-dash-ui/src/app/generator-service.ts
  dcs-pylot-dash-ui/src/app/main-page/main-page.html
  dcs-pylot-dash-ui/src/app/sample-model.service.ts
  dcs-pylot-dash-ui/src/app/source-data-point-service.ts
  resources/sample_export_models/sample_api_export_model.json
  resources/templates/main.lua.template
  src/dcs_pylot_dash/api/api_routes.py
  src/dcs_pylot_dash/api/main_router.py
  src/dcs_pylot_dash/service/generator_service.py
  src/dcs_pylot_dash/utils/resource_provider.py
Due: black, prettier

Add waiting message in generated HTML, remove dead lua code, re-order README
  README.md
  resources/templates/main.lua.template
  resources/templates/template.main.html
  tests/output/DCSPylotDash.lua
  tests/output/main.html
Due: none

Extend privacy policy, clean up readme
  README.md
  privacy_policy.md
Due: none

Add advanced settings: bind address, port, update interval
  dcs-pylot-dash-ui/src/app/api-model.ts
  dcs-pylot-dash-ui/src/app/editor-model.ts
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.css
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.html
  dcs-pylot-dash-ui/src/app/editor-page/editor-page.ts
  dcs-pylot-dash-ui/src/app/generator-service.ts
  src/dcs_pylot_dash/api/api_model.py
  src/dcs_pylot_dash/service/export_model.py
  src/dcs_pylot_dash/service/generator_service.py
  tests/output/DCSPylotDash.lua
  tests/test_app.py
Due: black, prettier

add FAQ, remove aoa field
  dcs-pylot-dash-ui/src/app/app.routes.ts
  dcs-pylot-dash-ui/src/app/constants.ts
  dcs-pylot-dash-ui/src/app/faq/faq.css
  dcs-pylot-dash-ui/src/app/faq/faq.html
  dcs-pylot-dash-ui/src/app/faq/faq.ts
  dcs-pylot-dash-ui/src/app/header-toolbar/header-toolbar.html
  dcs-pylot-dash-ui/src/app/header-toolbar/header-toolbar.ts
  dcs-pylot-dash-ui/src/app/menu-sidebar/menu-sidebar.html
  dcs-pylot-dash-ui/src/app/menu-sidebar/menu-sidebar.ts
  dcs-pylot-dash-ui/src/styles.css
  resources/external_models/external_model_default.json
Due: prettier

Enable trusted types with default policy workaround for primeng
  dcs-pylot-dash-ui/angular.json
  dcs-pylot-dash-ui/package.json
  dcs-pylot-dash-ui/pnpm-lock.yaml
  dcs-pylot-dash-ui/src/app/notices-service.ts
  dcs-pylot-dash-ui/src/main.ts
  dcs-pylot-dash-ui/tsconfig.app.json
Due: prettier

add 'classic' CSP values
  dcs-pylot-dash-ui/angular.json
Due: prettier

Update SBOMs, 3rd party licenses
  sboms/sbom-api-dev.json
  sboms/sbom-api-prod.json
  sboms/sbom-api.json
  sboms/sbom-ui.json
  sboms/sbom.json
  third_party_licenses.txt
Due: none
